.login {
  width: 400px;
  height: 450px;
  box-shadow: 0 0 3px #111;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login a {
  text-decoration: none;
}

.login h2,
.login h3 {
  font-weight: 500;
}
.login h3 {
  color: #888;
}

.login__logo {
  height: 50px;
  background: #111;
  object-fit: contain;
}

.login__form {
  height: 50%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login__form div {
  width: 100%;
}

.login__formButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
