.disclaimer {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: 0px 0px 3px #111;
  border-radius: 20px;
  margin: 0.5rem;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.disclaimer__toolTip {
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  bottom: -45%;
  left: 40%;
  padding: 5px;
  border-radius: 5px;
  background: maroon;

  background: linear-gradient(
    90deg,
    rgb(14, 85, 109) 0%,
    rgb(141, 22, 113) 100%
  );
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.disclaimer__toolTip::before {
  position: absolute;
  content: "";
  top: -15%;
  left: 45%;
  transform: rotate(45deg);
  border: 5px solid transparent;
  border-left-color: rgb(92, 23, 76);
  border-top-color: rgb(109, 33, 91);
}
.disclaimer:hover .disclaimer__toolTip {
  opacity: 0.81;
}

.disclaimer__text {
  display: flex;
  align-items: flex-start;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 1px;
  color: rgb(5, 11, 66);
  margin: 0.3rem;
  word-wrap: break-word;
  font-weight: 550;
  font-style: italic;
  font-size: 0.8rem;
}
.disclaimer__text strong {
  margin: 0 3px;
  font-style: normal;
}

.disclaimer__text > .MuiSvgIcon-root {
  font-size: 1.1rem;
}
.disclaimer__text--warning {
  color: maroon;
}
