.app {
  min-height: 100vh;
}
.app__disclaimerContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 25%;
  left: 25%;
  border-radius: 10px;
  background: rgba(87, 162, 175, 0.863);
  background: linear-gradient(
    45deg,
    rgba(231, 137, 13, 0.75) 0%,
    rgba(31, 4, 46, 0.75) 100%
  );
  backdrop-filter: blur(1px);
  z-index: 999;
  box-shadow: 0 0 5px #000;
}
